<footer class="text-bg-light">
  <div class="container py-5 py-lg-6">
    <div class="row justify-content-md-between">
      <div class="col-4 col-md-2">
        <h2 class="h6">About</h2>
        <ul class="nav flex-column">
          <li class="mb-1">
            <a href="#" class="link-secondary">Team</a>
          </li>
          <li class="mb-1">
            <a href="#" class="link-secondary">Careers</a>
          </li>
          <li class="mb-1">
            <a href="#" class="link-secondary">Blog</a>
          </li>
          <li class="mb-1">
            <a href="#" class="link-secondary">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-4 col-md-2">
        <h2 class="h6 mb-3">Services</h2>
        <ul class="nav flex-column">
          <li class="mb-1">
            <a href="#" class="link-secondary">Branding</a>
          </li>
          <li class="mb-1">
            <a href="#" class="link-secondary">Design</a>
          </li>
          <li class="mb-1">
            <a href="#" class="link-secondary">Photography</a>
          </li>
          <li class="mb-1">
            <a href="#" class="link-secondary">UX/UI</a>
          </li>
        </ul>
      </div>
      <div class="col-4 col-md-2">
        <h2 class="h6 mb-3">Social</h2>
        <ul class="nav flex-column">
          <li class="mb-1">
            <a href="#" class="link-secondary">Twitter</a>
          </li>
          <li class="mb-1">
            <a href="#" class="link-secondary">Instagram</a>
          </li>
          <li class="mb-1">
            <a href="#" class="link-secondary">Dribbble</a>
          </li>
          <li class="mb-1">
            <a href="#" class="link-secondary">Facebook</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 mt-4 mt-md-0">
        <h2 class="h6 mb-3">Company</h2>
        <p class="text-secondary mb-0">Focus is a portfolio theme based on Bootstrap 5 and created by <a href="https://webvy.xyz/" target="_blank" rel="noopener">webvy</a>.</p>
      </div>
    </div>
  </div>
</footer>