<header class="sticky-top">
  <nav class="navbar navbar-{{ navbarColor|default("dark") }} navbar-expand-lg" aria-label="Main">
    <div class="container">
      <a href="{{ root }}index.html" class="navbar-brand d-inline-flex">[ xmatic | team ]</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="material-icons icon-2x" aria-hidden="true">menu</i>
      </button>
      <div class="collapse navbar-collapse" id="navbar">

      </div>
    </div>
  </nav>
</header>