.tobii {
  background-color: $black;
}

.tobii__btn--close {
  top: 0.875em;
  right: 0.875em;
  width: 2.25em;
  height: 2.25em;
}

.tobii__slide figure>figcaption {
  font-size: 1rem;
  text-align: center;
}