html {
  font-size: 1rem;

  @include media-breakpoint-up(lg) {
    font-size: 1.125rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.25rem;
  }
}

.font-serif {
  font-family: $font-family-serif;
}

.font-sans {
    font-family: $font-family-sans-serif;
}

[class^="display"] {
  font-family: $font-family-sans-serif;
  letter-spacing: normal;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  letter-spacing: 1px;
}

.lead {
  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }
}

.quote {
  font-size: 1.15rem;
  font-weight: 300;

  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }
}

.blockquote {
  position: relative;

  &::before {
    background-color: $primary;
    display: block;
    color: $black;
    content: "\201C";
    font-size: 1.75rem;
    font-weight: normal;
    line-height: 1.5;
    height: 1.75rem;
    width: 1.75rem;
    left: -3rem;
    position: absolute;
    text-align: center;
    top: 0;
  }

  &.text-center {

    &::before {
      margin: 0 auto 1rem;
      position: static;
    }
  }

  &.text-end {

    &::before {
      content: "\201D";
      left: inherit;
      right: -3rem;
    }
  }
}

// PrismJS

pre[class^="language"] {
  background-color: $gray-900 !important;
  margin-bottom: 1.5rem !important;
}

code[class^="language"] {
  font-size: 0.9em !important;
}
