---
layout: base
title: xmatic team
description: Все, что мы делаем!
permalink: /
---

<!-- Header -->
<div class="container py-5">
  <div class="col-xxl-10">
    <h1 class="display-1">
      ⚔️🛡️
    </h1>
    <div class="border border-6 border-light w-25 my-4"></div>
  </div>
</div>
<div class="text-white">
  <div class="container py-5 py-lg-6">
    <h2 class="text-center mb-5">The Team</h2>
    <div class="row gy-4">
      <div class="col-md">
        <blockquote class="text-center">
          <img
            src="assets/img/timmy.webp"
            class="avatar avatar-lg mb-3"
            alt="Timmy"
          />
          <cite class="d-block h5 fst-normal mb-1">Timmy</cite>
          <span class="small text-secondary text-white text-uppercase"
            >Программист и Разработчик Игр</span
          >
          <p class="quote text-secondary text-white mt-3 mb-0">
            Кодирование не&nbsp;просто о&nbsp;создании строк кода, это
            о&nbsp;рождении идей и решениях, которые оживляют мечты. Моя
            страсть&nbsp;&mdash; это превращать амбициозные концепции
            в&nbsp;захватывающую реальность.
          </p>
        </blockquote>
      </div>
      <div class="col-md">
        <blockquote class="text-center">
          <img
            src="assets/img/zero-signal.webp"
            class="avatar avatar-lg mb-3"
            alt="Zero Signal"
          />
          <cite class="d-block h5 fst-normal mb-1">Zero Signal</cite>
          <span class="small text-secondary text-white text-uppercase"
            >Специалист по Искусственному Интеллекту</span
          >
          <p class="quote text-secondary text-white mt-3 mb-0">
            Для меня искусственный интеллект не&nbsp;просто алгоритмы
            и&nbsp;данные, это мост между человеческим воображением
            и&nbsp;потенциалом будущего. Каждая строка кода, которую
            я&nbsp;пишу, приближает нас к&nbsp;умному и&nbsp;более осознанному
            миру.
          </p>
        </blockquote>
      </div>
      <div class="col-md">
        <blockquote class="text-center">
          <img
            src="assets/img/drim.webp"
            class="avatar avatar-lg mb-3"
            alt="drim"
          />
          <cite class="d-block h5 fst-normal mb-1">DrRiM</cite>
          <span class="small text-secondary text-white text-uppercase"
            >Эксперт по Кибербезопасности</span
          >
          <p class="quote text-secondary text-white mt-3 mb-0">
            В&nbsp;мире, где технологии постоянно развиваются,
            безопасность&nbsp;&mdash; это не просто защита данных, это
            обеспечение доверия и&nbsp;спокойствия для людей. Я&nbsp;нахожу своё
            истинное призвание в&nbsp;создании систем, которые защищают ваше
            цифровое пространство от&nbsp;угроз будущего.
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
